<%= stylesheet_link_tag "application.css" %>
<body>
<div class="site_wrapper">
<table id="center_wrapper">
<td>
<h1>New group</h1>

<%= render 'form' %>

<%= link_to 'Back', groups_path %>
</td>
</table>
</div>
</body>
