<%= stylesheet_link_tag "bootstrap/bootstrap.css" %>
<body >


	<div class="container" style="height:75%;margin:auto;text-align:center;">
		<h1>Register!</h1>
	
		<%= render 'form' %>

		<%= link_to 'Who\'s Registered', "/users"%>
	<br>
		<%= link_to 'Take a look at existing Groups', "/groups" %>
	</div>

</body>
