// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
        width:100%;
        height:100%;
        font-family:Helvetica;
        background-color: rgb(85, 98, 118);

}
a:link{
        color: rgb(84, 187, 221)
}
a:visited{
        color: rgb(84, 187, 221)
}
a:hover{
        color: rgb(214, 175, 93);
}
a:focus{
}
a:active{
}


table, tr, td{
	text-align:center;
	margin:auto;
}
.site_wrapper{
        text-align:center;
        margin:auto;

}

#center_wrapper{
        width:100%;
        height:100%;
        text-align:center;
        vertical-align:middle;
}


